@font-face {
  font-family: times_regular;
  src: url(fonts/times-regular.woff);
}
@font-face {
  font-family: times_b16;
  src: url(fonts/times-b-16.woff);
}
@font-face {
  font-family: times_b24;
  src: url(fonts/times-b-24.woff);
}
@font-face {
  font-family: times_b32;
  src: url(fonts/times-b-32.woff);
}

body {
  font-family: times_regular;
  margin:1rem 0;
  padding:1rem 0;
  background: #C0C0C0;
  text-align: center;
}
h2,big {
  font-family: times_b24;
}
b {
  font-family: times_b16;
}
h1 {
  font-family: times_b32;
}
a img {
  border: 2px solid;
}
input[type="text"], textarea {
  border: 2px inset;
  font-family: monospace;
}
input[type="submit"] {
  font-family: times_regular;
  background: #d4d0c8;
  border: 2px outset;
  padding: 4px 1rem;
}
p {
  width: 80%;
  margin: 0 auto;
}

/* Autocomplete */
.form-group {
  position: relative;
  display: inline-block;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  background: #fff;
  border: 2px inset;
}

.autocomplete-list.active {
  display: block;
}

.autocomplete-list li {
  padding: 4px 8px;
  cursor: pointer;
}

.autocomplete-list li:hover,
.autocomplete-list li.selected {
  background: #000080;
  color: #fff;
}
